.notification-bar > .pane .close-button:hover{
    -fx-background-color: #464646;
}
.notification-bar > .pane .close-button{
    -fx-pref-height: 20px;
    -fx-pref-width: 20px;
}
.notification-bar > .pane .label{
    -fx-wrap-text: true;
}